<menu class="h-full fixed top-0 left-0 bg-black text-white pt-4 border-r border-gray-700
             flex flex-col items-center overflow-hidden transition-all duration-300 z-10
             <%= open_menu? ? "w-38" : "w-0" %>"
      data-menu-target="menu">
  <button data-action="menu#close" class="self-end mr-4 mb-4">X</button>

  <div class="flex-1 flex flex-col items-center">
    <%= link_to t('shared.menu.chats'), conversations_path, class: "text-2xl pb-4 border-b border-gray-700" %>

    <% Conversation.all.each do |conversation| %>
      <%= link_to conversation.name.first.capitalize, 
                  conversation_path(conversation), 
                  class: "text-2xl border-3 border-gray-700 rounded-full py-3 px-5 mt-3 w-15 h-15 
                          flex items-center justify-center #{CHAT_BACKGROUND_COLORS[conversation.id % CHAT_BACKGROUND_COLORS.size]}",
                  title: conversation.name %>
    <% end %>
  </div>

  <div class="flex flex-col items-center mb-4 pt-4 border-t border-gray-700">
    <% if !@current_user %>
      <%= button_to t('shared.menu.login'), '/auth/auth0', class: "text-2xl cursor-pointer", method: :post, data: { turbo: false } %>
    <% else %>
      <p class="text-xl text-gray-500 mb-4">@<%= @current_user.tag %></p>

      <%= link_to t('shared.menu.my_profile'), user_path(@current_user), class: "text-2xl", data: { turbo: false } %>
      <%= link_to t('shared.menu.logout'), '/auth/logout', class: "text-2xl", data: { turbo: false } %>
    <% end %>
  </div>
</menu> 
